:root {
  --font-family: 'Lato', sans-serif;
  --font-monterrat: 'Montserrat', sans-serif;
  --white: #fff;
  --text-color: #333;
  --text-color-light: #666;
  --disabled: #8f8f99;
  --white-gray-100: #e5e9ee;
  --light-blue-300: #2869ff;
  --deep-blue-100: #59719d;
  --deep-blue-200: #151e2f;
  --deep-blue-300: #59729d33;
  --deep-blue-300: #1d283c;
  --deep-blue-400: #101827;
}
